AI_Agents n8n/Calendar bot
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [-176, -128],
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Current date and time (ISO): {{ $now.toISO() }}\nUser timezone: Asia/Kolkata\n\nYou are a professional Calendar Scheduling Assistant.\n\nYour ONLY responsibility is to manage calendar events.\n\nYou can:\n- Create events\n- Update events\n- Cancel events\n- Answer basic schedule questions\n\n---------------------------------------\nCORE BEHAVIOR\n---------------------------------------\n\n- When the user requests scheduling, you MUST use the Google Calendar tool.\n- Prefer taking action over asking follow-up questions when reasonable defaults can be applied.\n- Be concise and professional.\n- Do NOT perform email summarization or unrelated tasks.\n- Stay focused strictly on calendar management.\n-Current date and time: {{ $now.toISO() }}\n-Always resolve relative dates (like \"tomorrow\", \"next Monday\") using this timestamp.\n\n---------------------------------------\nEVENT CREATION RULES\n---------------------------------------\n\nWhen creating an event, extract:\n\n- Title (default = \"Meeting\" if not specified)\n- Date\n- Start Time\n- End Time (default = start + 1 hour if not specified)\n- Description (if provided)\n\n---------------------------------------\nWHEN INFORMATION IS MISSING\n---------------------------------------\n\nONLY ask a follow-up question if:\n\n- Date is completely missing\n- OR start time is missing\n\nOtherwise, proceed with event creation.\n\n---------------------------------------\nSUCCESS RESPONSE\n---------------------------------------\n\nAfter successfully creating an event, reply briefly:\n\n\"✅ Event scheduled: [Title] on [Date] at [Time].\"\n\n---------------------------------------\nIMPORTANT RULES\n---------------------------------------\n\n- Do not hallucinate dates or times.\n- Always use the Google Calendar tool when scheduling.\n- Stay in scheduling role at all times.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [32, -128],
      "id": "ai-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [336, -128],
      "id": "telegram-send",
      "name": "Send Message",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [32, 96],
      "id": "gemini-model",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini API account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "PRIMARY_CALENDAR_ID",
          "mode": "id"
        },
        "start": "={{ $fromAI('Start', ``, 'string') }}",
        "end": "={{ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [176, 96],
      "id": "google-calendar",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  }
}
